body{
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #ffffff;
    
    color: #ffffff;
    height: 100vh;
    width: 100%;
}

#form{
    font-size: 1.5rem;
    text-align: center;
    color: white;
    padding: 40px;
    background-color: #52bedfce;
}
#form h1{
    margin-bottom:40px;
}
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgba(128, 206, 226, 0.575);
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }
  .button1 {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #047699aa;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  /*button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }*/
  
  .button1:hover {background-color: #3a9b3d}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  
  .button1:active {
    background-color: #269e30d5;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.centerForm{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:50%
}
.nav-bar{
  display: flex;
  background-color: #047699aa;
  justify-content: center;
}
.nav-bar > div{
  margin:10px 20px;
}
.nav-bar a{
  color: white;
  font-weight: 900;
  text-decoration:none;
  font-size: 25px;
}
.right {
  position: absolute;
  right: 0px;
  width: 100x;
  height: 200px;
  border: 3px solid #e9ece4;
  padding: 10px;
}